<div  class="card shadow-lg border-success mb-3" style="margin-left: 5%;width: 75%;">
            
    <div class="card-body  border-success">
      
        <h3 style="color:blue;font-style: italic;">Interests</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        
    </div>
</div>