<button class="btn btn-warning" style="float:right" data-toggle="modal" type="submit" data-target="#addAssign">Post </button>
<div *ngIf="msg == 'error' ">

    <h1 style="color:brown;font-style: oblique;">No assignments available</h1>
   
</div>

<!-------------------------------------Assignment Modal----------------------------------------->
<div class="modal fade" id="addAssign" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Group Details</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form  #groupForm="ngForm" (ngSubmit)="createAssign()">
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" >Assignment</label>
                        <input [(ngModel)]="assign.assignName" name="assignName" type="text"  class="form-control" />
                       
                    </div>
                   

                 
                

                    <!-- End Date input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email2">End Date</label>
                        <input type="date" [(ngModel)]="assign.endDate" name="endDate" class="form-control" />
                        
                    </div>

                   

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------End Modal--------------------------------------->
