<div class="bdy">
  <div class="section">
    <div class="container">
      <div class="row disp full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-0">
          <div class="section pb-5 pt-2 pt-sm-2 text-center">
            <h6 class="mb-0 pb-0"><span>Log In</span><span>Sign Up</span></h6>
                  <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                  <label for="reg-log" ></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Log In</h4>
                      <!-- <div class="form-group">
                        <div class="container parent" id="check">
                          <div class="row">
                              <div class='col text-center'>
                              <input type="radio" name="imgbackground" id="img1" class="d-none imgbgchk" value="student">
                                <label for="img1">
                                  <h6>Student</h6>
                                  <img src="https://drive.google.com/uc?export=view&id=1_4644SwjtxBM0H86jm7faVqCzvDtJ7us" alt="Image student" height="70px">
                                  <div class="tick_container">
                                    <div class="tick"><i class="fa fa-check"></i></div>
                                  </div>
                                  </label>
                              </div>
                              <div class='col text-center'>
                              <input type="radio" name="imgbackground" id="img2" class="d-none imgbgchk" value="trainer">
                                <label for="img2">
                                  <h6>Trainer</h6>
                                  <img src="https://drive.google.com/uc?export=view&id=1dW5XhsdrVdG9A1gAaYdVZ11JBQ1NMVxF" alt="Image 2" height="20px" width="20px">
                                  <div class="tick_container">
                                    <div class="tick"><i class="fa fa-check"></i></div>
                                  </div>
                                </label>
                              </div>
                            </div>
                          </div>
                      </div> -->
                      <form action="login" (ngSubmit)="submitLogin()" [formGroup]="form" #formDir = ngForm >
                      <div class="form-group">
                        <input type="email" name="logemail" class="form-style" [(ngModel)]="userLogin.userName" formControlName="email" placeholder="Your Email" id="logemail" autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                        <div *ngIf="email.invalid && (email.touched || email.dirty)" >
                          <div  *ngIf="email.errors?.['required']" class="err">
                            Email is required
                          </div>
                          <div *ngIf="email.errors?.['email']" class="err">
                            Email is invalid
                          </div>
                        </div>
                      </div>
                      <div class="form-group mt-2">
                        <input type="password" name="logpass" class="form-style" [(ngModel)]="userLogin.pass" formControlName="password" placeholder="Your Password" id="logpass" autocomplete="off" minlength="8" maxlength="16">
                        <i class="input-icon uil uil-lock-alt"></i>
                        <div *ngIf="password.invalid && (password.touched || password.dirty)">
                          <div style="font-size: small;" *ngIf="password.errors?.['required']" class="err">
                            password is required
                          </div>

                          <div style="font-size: small;float: left;" *ngIf="password.errors?.['pattern']" class="err">
                            password must contain one letter from A-Z ,a-z,numericals and special characters of length 8 to 16
                          </div>
                        </div>
                      </div>
                      <button [disabled]="form.invalid"  type="submit"  class="btn mt-4">submit</button>&nbsp;&nbsp;
                      <button href="#" (click)="formDir.resetForm({})" class="btn mt-4">resest</button>

                                    <!-- <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p> -->
                       </form>
                        </div>
                      </div>
                    </div>
                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Sign Up</h4>
                      <div class="form-group">
                        <div class="container parent" id="check">
                          <div class="row">
                              <div class='col text-center'>
                              <input type="radio" name="imgbackground" id="img1" class="d-none imgbgchk" value="student">
                                <label for="img1" (click)="roleStudent()">
                                  <h6>Student</h6>
                                  <!-- <img src="../assets/student.png" alt="Image student" > -->
                                  <img  src="https://drive.google.com/uc?export=v˘iew&id=1_4644SwjtxBM0H86jm7faVqCzvDtJ7us" alt="Image student" >
                                  <div class="tick_container">
                                    <div class="tick"  ><i class="fa fa-check"></i></div>
                                  </div>
                                  </label>
                              </div>
                              <div class='col text-center'>
                              <input type="radio" name="imgbackground" id="img2" class="d-none imgbgchk" value="trainer">
                                <label for="img2" (click)="roleTrainer()">
                                  <h6>Trainer</h6>
                                  <img  src="https://drive.google.com/uc?export=view&id=1dW5XhsdrVdG9A1gAaYdVZ11JBQ1NMVxF" alt="Image Trainer" >
                                  <div class="tick_container">
                                    <div class="tick"  ><i class="fa fa-check"></i></div>
                                  </div>
                                </label>
                              </div>
                            </div>
                          </div>
                          <form action="signup" [formGroup]="form1" #formDir1 = ngForm>
                            <div class=" form- group row">
                            <div class="col-6">
                              
                              <input type="text" name="logfname" class="form-style" [(ngModel)]="userSignup.firstName" formControlName="fname" placeholder="First Name" id="name" minlength="4" autocomplete="off">
                              <i class="input-icon uil uil-user"></i>
                              <div *ngIf="fname.invalid && (fname.touched||fname.dirty)">
                                <div *ngIf="fname.errors?.['minlength']" class="err">
                                  <!-- <div *ngIf="form1.hasError('minlength','fname')"> -->
                                     first name must be at least 4 characters long.
                                </div>
                                <div *ngIf="fname.errors?.['required']" class="err">
                                     first name is required
                                </div>
                                <div *ngIf="fname.errors?.['maxlength']" class="err">
                                  last name can't be more than 18 characters long.
                                </div>
                              </div>

                              
                            </div>
                           <div class=" col-6">
                              <div>
                                <input type="text" name="loglname" class="form-style" [(ngModel)]="userSignup.lastName" formControlName="lname" placeholder="Last Name" id="lname" autocomplete="off">
                                <i class="input-icon uil uil-user"></i>
                                <div *ngIf="lname.invalid && (lname.touched||lname.dirty)">
                                  <div *ngIf="lname.errors?.['minlength']" class="err">
                                       last name must be at least 4 characters long.
                                  </div>
                                  <div *ngIf="lname.errors?.['required']" class="err">
                                       last name is required
                                  </div>
                                  <div *ngIf="lname.errors?.['maxlength']" class="err">
                                    last name can't be more than 18 characters long.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                            
                        
                            <div class="form-group mt-2">
                              <input type="email" name="logemail" class="form-style" [(ngModel)]="userSignup.userName" formControlName="email" placeholder="Your Email" id="logemail" autocomplete="off">
                              <i class="input-icon uil uil-at"></i>
                              <div *ngIf="regEmail.invalid && (regEmail.touched || regEmail.dirty)" >
                                <div  *ngIf="email.errors?.['required']" class="err">
                                  Email is required
                                </div>
                                <div *ngIf="regEmail.errors?.['email']" class="err">
                                  Email is invalid
                                </div>
                              </div>
                            </div>  
                              <div class="form-group mt-2">
                                <input type="text" [(ngModel)]="userSignup.number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="phoneNumber" class="form-style"  formControlName="number"  placeholder="Your Phone number" id="phoneNumber" autocomplete="off">
                                <i class="input-icon uil uil-phone"></i>
                                <div *ngIf="number.invalid && (number.touched || number.dirty)" >
                                  <div  *ngIf="number.errors?.['required']" class="err">
                                    Phone number is required.
                                  </div>
                                  <div *ngIf="number.errors?.['maxlength']" class="err">
                                    Phone number can not be more than 10 digits.
                                  </div>
                                  <div *ngIf="number.errors?.['pattern']" class="err">
                                    Phone number should contain 10 digits.
                                  </div>
                                </div>
                              </div>

                            
                            <div class="form-group mt-2">
                              <input type="password" name="logpass" class="form-style" [(ngModel)]="userSignup.pass" formControlName="password" placeholder="Your Password" id="logpass" autocomplete="off">
                              <i class="input-icon uil uil-lock-alt"></i>
                              <div *ngIf="regPassword.invalid && (regPassword.touched || regPassword.dirty)">
                                <div style="font-size: small;" *ngIf="regPassword.errors?.['required']" class="err">
                                  password is required
                                </div>
                        
                                <div style="font-size: small;float: left;" *ngIf="regPassword.errors?.['pattern']" class="err">
                                  password must contain one letter from A-Z ,a-z,numericals and special characters of length 8 to 16
                                </div>
                              </div>
                            </div>

                            


                            <div class="form-group mt-2 row">
                            
                              <span class = "col-4 cal"  for="dob">Date of birth &nbsp; </span>
                             
                              <i class="icon uil uil-calendar-alt calendar col-4"></i>
                              <input [(ngModel)]="userSignup.dob" class="col-4" formControlName="dob" style="background-color:#1f2029; border-radius: 5px;border-style: hidden; color: #c4c3ca;" value="2000-01-01" type="date" name="dob" id="dob">
                              <div *ngIf="dob.invalid && (dob.touched || dob.dirty)">
                                <div style="font-size: small;" *ngIf="dob.errors?.['required']" class="err">
                                  Date of birth is required
                                </div>
                                <!-- <div style="font-size: small;" *ngIf=true class="err">
                                  {{msg}}
                                </div> -->
                              </div>
                          </div>
                          
                          <div class="row"></div>
                            


                            <div class="form-group mt-2 row" >&nbsp;<span class="col-4">Gender</span>
                              <span class="col-4"></span>
                              <span class="col-2">
                              <input type="radio" value="male" formControlName="gender" [(ngModel)]="userSignup.gender" name="gender" id="male">&nbsp;Male
                              <!-- <span class="col-1"></span> -->
                              <input type="radio" value ="female" formControlName="gender" [(ngModel)]="userSignup.gender" name="gender" id="female">&nbsp;Female
                              <div *ngIf="gender.invalid && (gender.touched || gender.dirty)">
                                <div style="font-size: small;" *ngIf="gender.errors?.['required']" class="err">
                                  gender is required
                                </div>
                        
                                <div style="font-size: small;float: left;" *ngIf="regPassword.errors?.['pattern']" class="err">
                                  password must contain one letter from A-Z ,a-z,numericals and special characters of length 8 to 16
                                </div>
                              </div>
                            </span>
                          </div>
                         
                            <!-- <a href="#" class="btn mt-4">submit</a> -->
                            <button [disabled]="form1.invalid" (click)="submitReg()" type="submit" class="btn mt-4">submit</button>&nbsp;&nbsp;
                                              <button href="#"  (click)="formDir1.resetForm({})" class="btn mt-4">resest</button>
                          </form>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  </div>

  