<button class="btn btn-warning" style="float:right" data-toggle="modal" type="submit" data-target="#postQues">Post </button>
<div *ngIf="msg == 'error' ">

    <h1 style="color:brown;font-style: oblique;">No questions available</h1>
   
</div>

<div *ngIf="msg == '' ">
<div  class="card-deck" *ngFor="let qu of questions">
    <div class="card mb-3 border-warning">
        <div class="card-body shadow-lg">
            {{qu.question}}  
            
                <!-- <a data-toggle="modal"  *ngIf="qu.userId==id" type="submit" [attr.data-target]="'#edit' + qu.questionId" ><i class="fas fa-marker fa-lg" style="color:rgb(0, 0, 0)"></i></a>&nbsp;
                    <a data-toggle="modal" *ngIf="qu.userId==id" type="submit" [attr.data-target]="'#del' + qu.questionId" ><i class="fas fa-trash fa-lg" style="color:rgb(190, 7, 7)"> </i></a>&nbsp;
              
            
                <button data-toggle="modal" type="submit" [attr.data-target]="'#' + qu.questionId" class="btn btn-success">Add your answer</button>
                --> 
                <span style="float:right"><div class="dropdown"> 
                    <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a data-toggle="modal" class="dropdown-item"  *ngIf="qu.userId==id" type="submit" [attr.data-target]="'#edit' + qu.questionId" ><i class="fas fa-marker fa-lg" style="color:rgb(0, 0, 0)"></i>Edit</a>
                        <a data-toggle="modal" class="dropdown-item" *ngIf="qu.userId==id" type="submit" [attr.data-target]="'#del' + qu.questionId" ><i class="fas fa-trash fa-lg" style="color:rgb(190, 7, 7)"> </i>Delete</a>
                  
                
                    <a data-toggle="modal"  class="dropdown-item"type="submit" [attr.data-target]="'#' + qu.questionId" >Add your answer</a>
                    
                    </div>
                  </div>
                  
                </span>
                <span style="float:right">
                    <a   data-toggle="collapse" [href]="'#multiCollapseExample'+qu.questionId" aria-expanded="false" aria-controls="multiCollapseExample3" class="btn btn-success"type="submit" (click)="getAnswers(qu.questionId)" >Answers</a>
                  </span>
                <div class="collapse multi-collapse" [id]="'multiCollapseExample'+qu.questionId">
                    <div *ngIf="msg1 == 'not found' &&  answers.length==0">
                        <h1 style="color:brown;font-style: oblique;">No Answers available</h1>
                    </div>
                    <div *ngIf="ans != null">
                    <div  class="card-deck" *ngFor="let ans of answers">
                        <div class="card mb-3 border-warning" *ngIf="ans.questionId==qu.questionId">
                            <div class="card-body shadow-lg">
                                {{ans.answer}}  

                                <span style="float:right"><div class="dropdown"> 
                                    <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a data-toggle="modal" class="dropdown-item"  *ngIf="ans.userId==id" type="submit" [attr.data-target]="'#editAnswer' + ans.answerId" ><i class="fas fa-marker fa-lg" style="color:rgb(0, 0, 0)"></i>Edit</a>
                                        <a data-toggle="modal" class="dropdown-item" *ngIf="ans.userId==id" type="submit" [attr.data-target]="'#delAnswer' + ans.answerId" ><i class="fas fa-trash fa-lg" style="color:rgb(190, 7, 7)"> </i>Delete</a>
                                  
                                
                                    
                                    </div>
                                  </div>
                                  
                                </span>

    <!---------------------------------Edit Answer ---------------------------->
    <div class="modal fade" [id]="'editAnswer'+ans.answerId" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center" role="document">
            <div class="modal-content w-710">
                                    
                <div class="modal-body p-4">
                    <form  #editNumberForm="ngForm" (ngSubmit)="editAns(ans.answerId)">
                                            <!-- Name input -->
                        <div class="form-outline mb-4">
                            <form >
                                <textarea [(ngModel)]="answerName" [value]="ans.answer" rows="7"
                                          cols="45"
                                          name="comment">
                                </textarea>
                                <br>
                            </form>
                                                
                            </div>
                                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary">Edit</button>
                                            &nbsp;
                            <button type="button" class="btn btn-warning " data-dismiss="modal">Close</button>
                        </form>
                   </div>
                </div>
            </div>
        </div>
        <!------------------------------------End Modal------------------------------------->

        <!---------------------------------Delete Answer--------------------------------->

        <div class="modal fade" [id]=" 'delAnswer' + ans.answerId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><b>Are you sure ?</b> <span> &nbsp;<i class="fas fas fa-chalkboard" style="color: #0b29ab;"></i></span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="modal-footer">
                  
                  <button type="submit" class="btn btn-danger" (click)="deleteAns(ans.answerId)">Delete</button>
                </div>
           
              </div>
            </div>
          </div>
        
        <!----------------------------------Delete Modal----------------------------------->
        
                                </div>
                                </div>
                                </div>
                                </div>

                    </div>

           
            <!-----------------------------------Post Answer-------------------------------------->
<div class="modal fade" [id]="qu.questionId" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center" role="document">
        <div class="modal-content w-710">
                                
            <div class="modal-body p-4">
                <form  #editNumberForm="ngForm" (ngSubmit)="addAns(qu.questionId)">
                                        <!-- Name input -->
                    <div class="form-outline mb-4">
                        <form >
                            <textarea [(ngModel)]="ans.answer" rows="7"
                                      cols="45"
                                      name="comment">
                            </textarea>
                            <br>
                        </form>
                                            
                        </div>
                                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary">Add</button>
                                        &nbsp;
                        <button type="button" class="btn btn-warning " data-dismiss="modal">Close</button>
                    </form>
               </div>
            </div>
        </div>
    </div>
    <!------------------------------------End Modal------------------------------->
    <!---------------------------------Edit Question ---------------------------->
    <div class="modal fade" [id]="'edit'+qu.questionId" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center" role="document">
            <div class="modal-content w-710">
                                    
                <div class="modal-body p-4">
                    <form  #editNumberForm="ngForm" (ngSubmit)="editQues(qu.questionId)">
                                            <!-- Name input -->
                        <div class="form-outline mb-4">
                            <form >
                                <textarea [(ngModel)]="questionName" [value]="qu.question" rows="7"
                                          cols="45"
                                          name="comment">
                                </textarea>
                                <br>
                            </form>
                                                
                            </div>
                                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary">Edit</button>
                                            &nbsp;
                            <button type="button" class="btn btn-warning " data-dismiss="modal">Close</button>
                        </form>
                   </div>
                </div>
            </div>
        </div>
        <!------------------------------------End Modal------------------------------------->

        <!---------------------------------Delete Question--------------------------------->

        <div class="modal fade" [id]=" 'del' + qu.questionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><b>Are you sure ?</b> <span> &nbsp;<i class="fas fas fa-chalkboard" style="color: #0b29ab;"></i></span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger" (click)="delete(qu.questionId)">Delete</button>
                </div>
           
              </div>
            </div>
          </div>
        
        <!----------------------------------Delete Modal----------------------------------->
        </div>
       
    </div>
    <br>
    
</div>
</div>

 <!-------------------------------------Post Question----------------------------------------->
    <div class="modal fade" id="postQues" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content w-710">
                                    
                <div class="modal-body p-4">
                    <form  #editNumberForm="ngForm" (ngSubmit)="addQues()">
                                            <!-- Name input -->
                        <div class="form-outline mb-4">
                                             
                            <!-- <input id="question" [(ngModel)]="ques.question"  type="text-area" maxlength="255" name="question"> -->

                            <form >
                                <textarea [(ngModel)]="ques.question" rows="7"
                                          cols="45"
                                          name="comment">
                                </textarea>
                                <br>
                            </form>
                                                
                            </div>
                                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary">Add</button>
                                            &nbsp;
                            <button type="button" class="btn btn-warning " data-dismiss="modal">Close</button>
                        </form>
                   </div>
                </div>
            </div>
        </div>
                          <!------------------------------------------- End Modal  ----------------------------------->
