<app-trainer-dash></app-trainer-dash>
<br>
<div class="card shadow-lg border-warning mb-3" style="margin-left: 5%;width: 75%;" >
    <div class="card-header border-warning" style="align-content: center;">
      <h3 style="font-style: italic;"> <b> Group &nbsp; <span> <i class="fas fa-school fa-lg" style="color:rgb(11, 5, 196)"></i></span>&nbsp; : {{class.groupName}}</b></h3> <br>
    </div>
    <div class="card-body border-warning">
    <b>Group Description :</b>&nbsp;{{class.groupDesc}}<br>
    <b>Grade :</b>&nbsp;{{grade.gradName}}<br>
    <b>Subject :</b>&nbsp;{{sub.subName}}&nbsp;<br>
    <b>Group Limit :</b>&nbsp;{{class.groupLimit}}&nbsp;<br>
    <b>Rating : </b><span class="sp" *ngFor="let star of stars; let i = index">
    <ng-container *ngIf="star; else noStar" style="font-size: large;"> <i class="fas fa-star fa-lg" style="color:rgb(238, 189, 64);"></i></ng-container>
  <ng-template #noStar><i class="far fa-star fa-lg" style="color:rgb(238, 189, 64)"></i></ng-template></span>
    <!-- <div ng-repeat="x in class.rating">
    <i class="fas fa-star"></i><span>
     
      
    </span>
    </div> -->
    
     
<div></div>
    <span><button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#editGroup" (click)="getInfo()">Edit Class</button>
      &nbsp;  <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteClass">Delete Class</button>
    </span>

    <!---------------------------------------- Edit Group ----------------------------------->
    <div class="modal fade" id="editGroup" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content w-75">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Group Details</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <form  #groupForm="ngForm" (ngSubmit)="editGroup(groupId)">
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input [(ngModel)]="class.groupName" name="groupName" type="text"  class="form-control" />
                            <label class="form-label" >Group Name</label>
                        </div>
                        <!-- Desc input -->
                        <div class="form-outline mb-4">
                          <input [(ngModel)]="class.groupDesc" name="groupDesc" type="textarea"  class="form-control" />
                          <label class="form-label" >Group Description</label>
                      </div>
    
                      <!-- Group grade -->
                      <select [(ngModel)]="class.groupGrad" class="form-control" name="groupGrad" aria-placeholder="Choose your grade">
                        <option value="undefined" selected disabled>Select Grade</option>
                        <option *ngFor="let grad of grades" [ngValue]="grad.gradId">{{grad.gradName}}</option>
                    </select>
                    <label class="form-label" for="name2">Group Grade</label>
                      <br>
                    <!-- Group Subject-->
                    <select [(ngModel)]="class.groupSub" class="form-control" name="groupSub" aria-placeholder="Select your grade">
                      <option value="undefined" selected disabled>Select Subject</option>
                      <option *ngFor="let sub of subjects" [ngValue]="sub.subId">{{sub.subName}}</option>
                  </select>
                  <label class="form-label" for="name2">Group Subject</label>
    
                        <!-- Limit input -->
                        <div class="form-outline mb-4">
                            <input type="number" [(ngModel)]="class.groupLimit" name="groupLimit" class="form-control" />
                            <label class="form-label" for="email2">Group Limit</label>
                        </div>
    
                       
    
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------End Modal------------------------------------>

    <!-------------------------------Delete Class-------------------------------------------->

    <div class="modal fade" id="deleteClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><b>Are you sure ?</b> <span> &nbsp;<i class="fas fas fa-chalkboard" style="color: #0b29ab;"></i></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger" (click)="deleteGroup(groupId)">Delete</button>
            </div>
     
          </div>
        </div>
      </div>
</div>
</div>

<div class="card shadow-lg border-warning mb-3" style="margin-left: 5%;width: 75%;">
  <br>
<p>
  &nbsp;<a  data-toggle="collapse" href="#multiCollapseExample1" style="margin-left: 2%;margin-top: 2%;" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fas fa-users fa-3x" style="color:rgb(0, 153, 255)"></i></a> &nbsp;
  &nbsp;<a  data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"> <img src="assets/img/QandA.jpeg" style="height:5%;width:5%;margin-bottom: 1%;"></a> &nbsp;
  &nbsp;<a  data-toggle="collapse" href="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3"> Files</a> &nbsp;
  &nbsp;<a  data-toggle="collapse" href="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4"> Assignments</a> &nbsp;
  
  <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button> &nbsp;
</p> -->
</p>
 <div class="row">
  <!-- <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>  -->
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        &nbsp;<app-people-component></app-people-component>
      </div>
    </div>
  </div>
  </div>


  <div class="row">
 
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
 &nbsp;<app-questions-and-answers></app-questions-and-answers>
 </div>
 </div>
 </div>
 </div>

 <div class="row">
 
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body">
 &nbsp;<app-file-upload></app-file-upload>
 </div>
 </div>
 </div>
 </div>

 <div class="row">
 
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample4">
      <div class="card card-body">
 &nbsp;<app-trainer-assignments></app-trainer-assignments>
 </div>
 </div>
 </div>
 </div>

 </div>
 
