<app-trainer-dash></app-trainer-dash>
<br>

<div *ngIf="msg == 'Empty'">

    <img class="style=align-items-center;"  style="height: 35%;width:40%;margin-left: 30%;"  src="assets/img/empty.jpg"  alt="..."  /><br>
  </div>
  <div *ngIf="msg == '' ">
    <div class="card-deck" style="margin-left: 5%;">
       
<div  class="card shadow-lg border-warning mb-3" style="max-width: 18rem;" *ngFor="let gr of groups">
    <div class="card-header bg-warning border-warning">
      <a class="nav-link"[routerLink]="['/trainerClass',id,gr.groupId]">{{gr.groupName}}</a>
    </div>
    <div class="card-body bg-transparent border-warning">
      <blockquote class="blockquote mb-0">
        <p>{{gr.groupDesc}}</p>
        <footer class="blockquote-footer bg-transparent border-warning">Limit <cite title="Source Titl e">{{gr.groupLimit}}</cite></footer>
      </blockquote>
    </div>
    </div>
    </div>
  </div>
  
  
  