:host {
    height: auto;
}

.container-fluid {
    margin: 10px;
    /* margin-left: 5em; */
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: auto;
    overflow-x: auto;
}