<div *ngIf="user.role == 2">
    <app-trainer-dash></app-trainer-dash>
</div>
<div *ngIf="user.role == 3">
    <app-student-dash></app-student-dash>
</div>
<br>
<section style="background-color: #eee;">
    <div class="container py-5">
     
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4 shadow p-3 mb-5 bg-white rounded">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.firstName}} {{user.lastName}}</h5>
              <div *ngIf="user.role==2">
              <p class="text-muted mb-1">Trainer</p></div>
              <div *ngIf="user.role==3">
                <p class="text-muted mb-1">Student</p></div>
              <hr>
              <div class="row">
                <div class="col">
                  <p class="mb-4"><b>Mode of Learning</b>
                  </p>
                  <div *ngIf="getMode == null">
                  <input type="radio" [(ngModel)] ="mode" [value]=1   name="mode" [checked]="mode == 1">&nbsp;Offline
                  <span class="col-1"></span>
                  <input type="radio" [(ngModel)] ="mode" [value] =2  name="mode"   [checked]="mode == 2">&nbsp;Online
                  <span class="col-2"></span>
                  
                  <button class="btn bg-transparent"  type="submit" (click)="addMode()">
                    <i class="fas fa-sync-alt fa-lg text-black" style="color: #333333;"></i>
                </button> 
                </div>
                <div *ngIf="getMode != null">
                  
                  <input type="radio" [(ngModel)] ="getMode.val" [value]=1 name="val" >&nbsp;Offline
                  <span class="col-1"></span>
                  <input type="radio" [(ngModel)] ="getMode.val" [value] =2  name="val" >&nbsp;Online
                  <span class="col-2"></span>
                  
                  <button class="btn bg-transparent" type="submit" (click)="editMode()">
                    <i class="fas fa-sync-alt fa-lg text-black" style="color: #333333;"></i>
                </button> 
                </div>
                </div>
              </div>
              <!-- <p class="text-muted mb-4"></p> -->
              <!-- <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Follow</button>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
              </div> -->
            </div>
          </div>
          <!-- <div class="card mb-4 shadow p-3 mb-5 bg-white rounded mb-lg-0">
            <div class="card-body p-3">
                <p class="mb-3"><b>Intrests</b>
                </p>
                <hr>
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                  <i class="fas fa-book fa-lg text-warning"></i>
                  
                   <p>Electronics and Communication</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                  <i class="fas fa-book fa-lg text-primary" style="color: #333333;"></i>
                  <p class="mb-0">Machine Learning</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                  <i class="fas fa-book fa-lg text-secondary" style="color: #55acee;"></i>
                  <p class="mb-0">Data Science</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                  <i class="fas fa-book fa-lg text-danger" style="color: #ac2bac;"></i>
                  <p class="mb-0">Cyber Security</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                  <i class="fas fa-book fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">Networking</p>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
        <div class="col-lg-8">
          <div class="card mb-4 shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0">{{user.firstName}}&nbsp;{{user.lastName}}</p>
                </div>
                <div class="col-sm-1">
                  <button class="btn bg-transparent" data-toggle="modal" type="submit" data-target="#editName">
                    <i class="fas fa-edit fa-lg text-black" style="color: #333333;"></i>
                </button>  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0">{{user.userName}}</p>
                </div>
                <div class="col-sm-1">
                  <button class="btn bg-transparent" data-toggle="modal" type="submit" data-target="#editUserName">
                    <i class="fas fa-edit fa-lg text-black" style="color: #333333;"></i>
                </button>  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0">{{user.number}}</p>
                </div>
                <div class="col-sm-1">   
                <button class="btn bg-transparent"data-toggle="modal" type="submit" data-target="#editPhone">
                    <i class="fas fa-edit fa-lg text-black" style="color: #333333;"></i>
                </button>   
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0">{{user.gender}}</p>
                </div>
                <div class="col-sm-1">
                  <button class="btn bg-transparent" data-toggle="modal" type="submit" data-target="#editGender">
                    <i class="fas fa-edit fa-lg text-black" style="color: #333333;"></i>
                </button>  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Date of birth</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0">{{user.dob}}</p>
                </div>
                <div class="col-sm-1">
                  <button class="btn bg-transparent" data-toggle="modal" type="submit" data-target="#editDob">
                    <i class="fas fa-edit fa-lg text-black" style="color: #333333;"></i>
                </button>  
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <span class="col-sm-10"></span>
              <div class="col-sm-1">
                <button class="btn btn-outline-primary">update</button>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-6">
              <div *ngIf="user.role == 3">
              <div class="card mb-4 mb-md-0 shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                  <p class="mb-6"><b>Groups enrolled in</b> 
                  </p>
                  <hr>
                  
                  <div *ngFor="let gr of groups">
                  <div class="row card mb-4 shadow p-3 mb-5 bg-white border-success rounded mb-lg-0 p-2">
                      <p class="mb-1">{{gr.groupName}}</p>
                      <!-- <div class="progress rounded" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                      <!-- <div class="btn btn-outline-primary"> view group</div> -->
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div *ngIf="user.role == 2">
                  <div class="card mb-4 mb-md-0 shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                      <p class="mb-6"><b>Groups engaged with</b> 
                      </p>
                      <hr>
                 
                    <div *ngFor="let gr of trainerGroups">
                    <div class="row card mb-4 shadow p-3 mb-5 bg-white border-success rounded mb-lg-0 p-2">
                        <p class="mb-1">{{gr.groupName}}</p>
                       
                    </div>
                    </div>
                    </div>
                
                  
                </div>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0 shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                  <p class="mb-3"><b>Intrests</b>
                    <span style="float: right;"> 
                      <button class="btn bg-transparent" (click)="getSub()" data-toggle="modal" type="submit" data-target="#editInterest">
                          <i class="fas fa-edit fa-lg text-black" style="color: #333333;"></i>
                      </button> 
                      </span>
                      </p>
                  
                  <hr>
                <ul class="list-group list-group-flush rounded-3">
                  <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <i class="fas fa-book fa-lg text-warning"></i>
                    
                     <p>Electronics and Communication</p>
                  </li> -->
                  <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <i class="fas fa-book fa-lg text-primary" style="color: #333333;"></i>
                    <p class="mb-0">{{interest1}}</p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <i class="fas fa-book fa-lg text-secondary" style="color: #55acee;"></i>
                    <p class="mb-0">{{interest2}}</p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <i class="fas fa-book fa-lg text-danger" style="color: #ac2bac;"></i>
                    <p class="mb-0">{{interest3}}</p>
                  </li>
                  <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <i class="fas fa-book fa-lg" style="color: #3b5998;"></i>
                    <p class="mb-0">Networking</p>
                  </li> -->
                </ul>
                </div>
              </div>

            </div>
<!----------------------------------------------Edit Interest-------------------------------------->

            <div class="modal fade" id="editInterest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                 
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><b>Choose your interests!!!</b> <span> &nbsp;<i class="fas fas fa-plus" style="color: #0b29ab;"></i></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      
                    <form [formGroup]="form" (ngSubmit)="submitForm()"   novalidate>
                      <ul class="checkbox-grid">
                      <div  *ngFor="let dat of subjects; let i=index">
                        
                        
                          <li><input type="checkbox" [value]="dat.subId"  (change)="onCheckboxChange($event)" />
                            <label>
                          {{dat.subName}}
                        </label></li>
                        
                      </div>
                    </ul>
                    <br>
                    
                   
                      <input type="submit"  value="Submit" >
                       
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <!-- <button type="submit" class="btn btn-secondary">Add</button> -->
                  </div>
            
              </div>
              </div>
              </div>
              <!------------------------------------------ End Modal----------------------------------------------------->
            <!-- <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><b>Mode of Learning</b>
                  </p>
                 
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------------------------------------Edit Name----------------------------------------->
  <div class="modal fade" id="editName" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Group Details</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body p-4">
                <form  #editNameForm="ngForm" (ngSubmit)="editDetails(id)">
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input [(ngModel)]="user.firstName" name="firstName" type="text" [value]=user.firstName  class="form-control" />
                        <label class="form-label" >First Name</label>
                    </div>
                    <!-- Name input -->
                    <span></span>
                    <div class="form-outline mb-4">
                      <input [(ngModel)]="user.lastName" name="lastName" type="text" [value]=user.lastName  class="form-control" />
                      <label class="form-label" >Last Name</label>
                  </div>

                  

                   

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                    <span></span>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------- End Modal  ----------------------------------->
<!-------------------------------------Edit Username----------------------------------------->
<div class="modal fade" id="editUserName" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-75">
          <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">Group Details</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div> -->
          <div class="modal-body p-4">
              <form  #editUserNameForm="ngForm" (ngSubmit)="editDetails(id)">
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                      <input [(ngModel)]="user.userName" name="userName" type="text" [value]=user.userName  class="form-control" />
                      <label class="form-label" >User Name</label>
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary">Add</button>
                  <span></span>
                  <button type="button" class="btn btn-warning " data-dismiss="modal">Close</button>
              </form>
          </div>
      </div>
  </div>
</div>
<!------------------------------------------- End Modal  ----------------------------------->

<!-------------------------------------Edit Phone----------------------------------------->
<div class="modal fade" id="editPhone" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-75">
          <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">Group Details</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div> -->
          <div class="modal-body p-4">
              <form  #editNumberForm="ngForm" (ngSubmit)="editDetails(id)">
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                      <input [(ngModel)]="user.number" name="number" type=number [value]=user.number class="form-control" />
                      <label class="form-label" >Contact </label>
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary">Add</button>
                  <span></span>
                  <button type="button" class="btn btn-warning " data-dismiss="modal">Close</button>
              </form>
          </div>
      </div>
  </div>
</div>
<!------------------------------------------- End Modal  ----------------------------------->

<!-------------------------------------Edit Gender----------------------------------------->
<div class="modal fade" id="editGender" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-75">
          <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">Group Details</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div> -->
          <div class="modal-body p-4">
              <form  #editNumberForm="ngForm" (ngSubmit)="editDetails(id)">
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                   
                    <input type="radio"  formControlName="gender" [(ngModel)]="user.gender" name="user.gender"  value="male" >&nbsp;Male
                    <!-- <span class="col-1"></span> -->
                 
                  
                    <input type="radio"  formControlName="gender" [(ngModel)]="user.gender" name="user.gender" value="female" >&nbsp;Female
                  
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary">Add</button>
                  &nbsp;
                  <button type="button" class="btn btn-warning " data-dismiss="modal">Close</button>
              </form>
          </div>
      </div>
  </div>
</div>
<!------------------------------------------- End Modal  ----------------------------------->
                         <!-------------------------------------Edit Gender----------------------------------------->
<div class="modal fade" id="editDob" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-75">
          <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">Group Details</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div> -->
          <div class="modal-body p-4">
              <form  #editNumberForm="ngForm" (ngSubmit)="editDetails(id)">
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                   
                    <input [(ngModel)]="user.dob"    [value]=user.dob type="date" name="dob" >
                    <div *ngIf="user.dob.invalid && (user.dob.touched || user.dob.dirty)">
                      <div style="font-size: small;" *ngIf="user.dob.errors?.['required']" class="err">
                        Date of birth is required
                      </div>
                      </div>
                      
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary">Add</button>
                  &nbsp;
                  <button type="button" class="btn btn-warning " data-dismiss="modal">Close</button>
              </form>
          </div>
      </div>
  </div>
</div>
<!------------------------------------------- End Modal  ----------------------------------->
                         