
<app-trainer-dash></app-trainer-dash>
<br>
<div *ngIf="msg == 'Fail'">

  <img class="style=align-items-center;"  style="height: 35%;width:40%;margin-left: 30%;"  src="assets/img/intersts.jpeg"  alt="..."  /><br>

  <button type="submit" style="margin-left: 40%" class="btn btn-lg btn-primary" (click)="getSub()" data-toggle="modal" data-target="#addInterest">Add Your Interests&nbsp;<span><i class="fas fa-lg fa-heartbeat" style="color:red"></i></span></button>

  <!----------------------------------------- Add Interest ----------------------------------------->
  <div class="modal fade" id="addInterest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"><b>Choose your interests!!!</b> <span> &nbsp;<i class="fas fas fa-plus" style="color: #0b29ab;"></i></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
          <form [formGroup]="form" (ngSubmit)="submitForm()"   novalidate>
            <ul class="checkbox-grid">
            <div  *ngFor="let dat of subjects; let i=index">
              
              
                <li><input type="checkbox" [value]="dat.subId"  (change)="onCheckboxChange($event)" />
                  <label>
                {{dat.subName}}
              </label></li>
              
            </div>
          </ul>
          <br>
          <!-- <mat-selection-list #subjects [(ngModel)]="selectedItems">
            <mat-list-option [value]="sub.subId" *ngFor="let sub of subjects">
              {{sub.subName}}
            </mat-list-option>
          </mat-selection-list> -->
         
            <input type="submit"  value="Submit" >
             
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-secondary">Add</button>
        </div>
  
    </div>
    </div>
    </div>

    <!------------------------------------End Modal------------------------------------------>
    <br>
</div>
    <div   *ngIf="msg=='Success'">
      <img class="style=align-items-center;"  style="height: 45%;width:50%;margin-left: 30%;"  src="assets/img/group.jpeg"  alt="..."  /><br>
    <br>

  <button type="submit" style="margin-left: 50%" class="btn btn-lg btn-warning" (click)="getInfo()"  data-toggle="modal" data-target="#addGroup">Creat Group&nbsp;<span><i class="fas fa-lg fa-users" style="color:rgb(63, 85, 224)"></i></span></button>

  <!-------------------------------------Group Modal----------------------------------------->
  <div class="modal fade" id="addGroup" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Group Details</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form  #groupForm="ngForm" (ngSubmit)="createGroup(id)">
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input [(ngModel)]="gr.groupName" name="groupName" type="text"  class="form-control" />
                        <label class="form-label" >Group Name</label>
                    </div>
                    <!-- Desc input -->
                    <div class="form-outline mb-4">
                      <input [(ngModel)]="gr.groupDesc" name="groupDesc" type="textarea"  class="form-control" />
                      <label class="form-label" >Group Description</label>
                  </div>

                  <!-- Group grade -->
                  <select [(ngModel)]="gr.groupGrad" class="form-control" name="groupGrad" aria-placeholder="Choose your grade">
                    <option value="undefined" selected disabled>Select Grade</option>
                    <option *ngFor="let grad of grades" [ngValue]="grad.gradId">{{grad.gradName}}</option>
                </select>
                <label class="form-label" for="name2">Group Grade</label>
                  <br>
                <!-- Group Subject-->
                <select [(ngModel)]="gr.groupSub" class="form-control" name="groupSub" aria-placeholder="Select your grade">
                  <option value="undefined" selected disabled>Select Subject</option>
                  <option *ngFor="let sub of subjects" [ngValue]="sub.subId">{{sub.subName}}</option>
              </select>
              <label class="form-label" for="name2">Group Subject</label>

                    <!-- Limit input -->
                    <div class="form-outline mb-4">
                        <input type="number" [(ngModel)]="gr.groupLimit" name="groupLimit" class="form-control" />
                        <label class="form-label" for="email2">Group Limit</label>
                    </div>

                   

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------- End Modal  ----------------------------------->
    </div>
    
    


 
