<div *ngIf="user.role == 2">
    <app-trainer-dash></app-trainer-dash>
</div>
<div *ngIf="user.role == 3">
    <app-student-dash></app-student-dash>
</div>
<br>

<div class="card shadow-lg border-success mb-3" style="margin-left: 5%;width: 60%;" >
    <img src="assets/img/profile.jpeg" class="card-img-top" alt="...">
    
      
    <div class="card-body border-success">
        <h3 style="font-style: italic;"> <b> User Profile &nbsp; </b></h3> <br>
   
    <b>Name :</b>&nbsp;{{user.firstName}}&nbsp;{{user.lastName}}<br><br>
    <div *ngIf="user.role == 2">
    <b>Role :</b>&nbsp;Trainer<br><br>
    </div>
    <div *ngIf="user.role == 3">
        <b>Role :</b>&nbsp;Student<br><br>
        </div>
    <b>Contact :</b>&nbsp;{{user.number}}<br><br>
    <b>E-mail account:</b>&nbsp; {{user.userName}}<br><br>
    <b>Age :</b>&nbsp; {{Age}} Years<br><br>
    </div>
    </div>

    <div class="card-deck" style="margin-left:4%;">
       
        <div  class="card shadow-lg border-success mb-3" style="max-width: 15rem;">
            
            <div class="card-body bg-transparent border-success">
              
                <p>Engaged with <br> <b><span style="color:blue;font-style: italic;">{{size}}</span> </b>classes</p>
                
            </div>
            </div>
            <div  class="card shadow-lg border-success mb-3" style="max-width: 18rem;">
            
                <div class="card-body  border-success">
                  
                    <h3 style="color:blue;font-style: italic;">Interests</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                    
                </div>
                </div>
                </div>
            
    


